{{#if (or @logo @image)}}
  {{! template-lint-disable no-inline-styles }}
  <div class="welcome-page__hero" style={{html-safe (concat "background-image: url(" @image ")")}}>
    {{#if @logo}}
      <img class="welcome-page__logo" src={{@logo}} alt="logo">
    {{/if}}
  </div>
{{/if}}
